header{
    background-image: url("../img/amapola.jpg");
    background-repeat: repeat;
    width: 1735px;
    height: 200px;
    text-align: center;
}

.foto_perfil{
    width: 151px;
    height: 200px;
    margin-top: 0px;
    margin-left;: 20px
}
h1 {
    color:#4D6ABB;
    background-color: #FAF5C3;
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    
}

main {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.SeccionCV {
    color: #4D6ABB;
    background-color: #FAF5C3;
    font-family: 'Montserrat', sans-serif;  
    font-size: 20px;
    text-transform: uppercase;
    line-height: 84.69%;
    font-style: normal;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 50px;
}
.datos-básicos {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-left: 0;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
}
.años {
    font-weight: bold;
    font-size: 15px;
    vertical-align: top;
    position: relative;
    left: 20px;
}

.descripción {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    left: -20px;}

footer {
    text-align: center;
    color: #FAF5C3;
    font-size: 20px;
    background-color: #4D6ABB;
    padding: 6px 6px;
}

.insta {
    margin-left: 25px;
    margin-bottom: -2px
}

.linkedIn {
    margin-left: 25px;
    margin-bottom: -2px
}